<p id="notice"><%= notice %></p>

<%= elm_embed('Elm.Goodbye', { noun: 'World!' }) %>

<%= link_to 'Finder', users_find_path %>

<script type="text/javascript">


  setTimeout(function(){ $('div div div').css('height', '600px'); }, 20);



</script>
